@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://sgi.uj.com.tw/images/bg.webp');
  /* ตั้งค่าขนาดภาพให้เต็มหน้าจอ */
  background-size: cover;
  /* ทำให้ภาพไม่ตีตราเมื่อขยายหน้าจอ */
  background-repeat: no-repeat;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  height: 40%;
  width: 730px;
}

.mySwiper2 .swiper-slide {
background: none;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  background: none;
  width: 45%;
  
}

.mySwiper3 .swiper-slide {
  width: 25%;
  height: 100%;
  /* opacity: 0.4; */
  background: none;
}